@model DataLayer.Models.TblDeal

<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات پکیج
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label>نام پکیج:</label>
                    <span>@Model.Name</span>
                </div>
                <div class="form-group col-md-6">
                    <label>قیمت:</label>
                    <span id="PriceSpan">@Model.Price تومان</span>
                </div>
                <div class="form-group col-md-6">
                    <label>تعداد ماه ها:</label>
                    <span>@Model.MonthCount</span>
                </div>
                <div class="form-group col-md-6">
                    <label>حداکثر تعداد دسته بندی:</label>
                    <a href="#">@Model.CatagoryLimit<span></span></a>
                </div>
                <div class="form-group col-md-6">
                    <label>حداکثر تعداد محصول:</label>
                    <a href="#">@Model.ProductLimit<span></span></a>
                </div>
                <div class="form-group col-md-6">
                    <label>حراج:</label>
                    @if (Model.Haraj)
                    {
                        <span class="text-success">دارد</span>
                    }
                    else
                    {
                        <span class="text-danger">ندارد</span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label>بنر1:</label>
                    @if (Model.Banner1)
                    {
                        <span class="text-success">دارد</span>
                    }
                    else
                    {
                        <span class="text-danger">ندارد</span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label>بنر2:</label>
                    @if (Model.Banner2)
                    {
                        <span class="text-success">دارد</span>
                    }
                    else
                    {
                        <span class="text-danger">ندارد</span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label>قرعه کشی:</label>
                    @if (Model.Lottery)
                    {
                        <span class="text-success">دارد</span>
                    }
                    else
                    {
                        <span class="text-danger">ندارد</span>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/ScriptCenter/Tools/Span_Formatting_Currency.js"></script>
