@model IEnumerable<DataLayer.Models.TblDeal>

@{
    ViewData["Title"] = "انتخاب پکیج";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="pageHeader">
    <div class="space-double"></div>
    <div class="space-mobile"></div>
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">انتخاب پکیج</h3>
        <a><span class="icon-holder" uk-icon="backIcon"></span></a>
    </div>
</div>



<content class="grid" dir="rtl">

    @if (User.Claims.First().Value == "d7tpmTdwXL")
    {

        <article class="packagesCard firstPackage my-column mat my-clipped">
            <content>
                <h3 class="center">پکیج رایگان</h3>
                <h1></h1>
                <div class="my-row">
                    <ul class="uk-padding-remove-right uk-margin-right">
                        <li>
                            <span class="icon-holder" uk-icon="caret-back">
                            </span>
                            <label>تعداد دسته بندی : 10</label>
                        </li>
                        <li>
                            <span class="icon-holder" uk-icon="caret-back">
                            </span>
                            <label>تعداد محصول : 30</label>
                        </li>
                        <li>
                            <span class="icon-holder" uk-icon="caret-back">
                            </span>
                            <label>تصویر پس زمینه</label>
                        </li>
                    </ul>
                    <div class="uk-margin-auto-right uk-margin-left uk-text-center uk-margin-auto-top uk-margin-auto-bottom">
                        <div class="periodOfPackage my-column">
                            <span class="icon-holder uk-margin-auto-top uk-margin-auto-bottom" uk-icon="calendar-outline">
                            </span>
                            <label class="uk-margin-auto-bottom">یک ماهه</label>
                        </div>
                        <label>رایگان</label>
                    </div>

                </div>
                <hr />
            </content>
            <a class="gradientButton uk-margin-auto-right uk-margin-left uk-margin-bottom" href="/Store/CreateStore?DealId=0">انتخاب</a>
        </article>

    }

    @foreach (var item in Model)
    {
        <article class="packagesCard my-column mat my-clipped">
            <content>
                <h3 class="center">@item.Name</h3>
                <div class="my-row">
                    <ul class="uk-padding-remove-right uk-margin-right">
                        <li>
                            <span class="icon-holder" uk-icon="caret-back">
                            </span>
                            <label>تعداد دسته بندی : @item.CatagoryLimit</label>
                        </li>
                        <li>
                            <span class="icon-holder" uk-icon="caret-back">
                            </span>
                            <label>تعداد محصول : @item.ProductLimit</label>
                        </li>
                        <li>
                            <span class="icon-holder" uk-icon="caret-back">
                            </span>
                            <label>تصویر پس زمینه</label>
                        </li>
                        @if (item.Banner1)
                        {
                            <li>
                                <span class="icon-holder" uk-icon="caret-back">
                                </span>

                                <label>امکان نصب بنر اول</label>

                            </li>
                        }
                        @if (item.Banner2)
                        {
                            <li>
                                <span class="icon-holder" uk-icon="caret-back">
                                </span>

                                <label>امکان نصب بنر دوم</label>

                            </li>
                        }
                        @if (item.Lottery)
                        {
                            <li>
                                <span class="icon-holder" uk-icon="caret-back">
                                </span>

                                <label>امکان قرعه کشی کاربران</label>

                            </li>
                        }
                        @if (item.Music)
                        {
                            <li>
                                <span class="icon-holder" uk-icon="caret-back">
                                </span>

                                <label>امکان پخش موزیک در فروشگاه</label>

                            </li>
                        }
                    </ul>
                    <div class="uk-margin-auto-right uk-margin-left uk-text-center uk-margin-auto-top uk-margin-auto-bottom">
                        <div class="periodOfPackage my-column">
                            <span class="icon-holder uk-margin-auto-top uk-margin-auto-bottom" uk-icon="calendar-outline">
                            </span>
                            <label class="uk-margin-auto-bottom">@item.MonthCount ماهه</label>
                        </div>
                        <label id="PriceSpan">@item.Price تومان</label>

                    </div>

                </div>
                <hr />

            </content>
            <a class="gradientButton uk-margin-auto-right uk-margin-left uk-margin-bottom" href="/Store/CreateStore?DealId=@item.Id">انتخاب</a>
        </article>
    }

</content>
<div class="space-double"></div>
<div class="space-mobile"></div>
@section Script{
    <script src="~/ScriptCenter/Tools/Span_Formatting_Currency.js"></script>
}



