@model DataLayer.ViewModel.EditStoreViewModel
@{
    ViewData["Title"] = "تنظیمات فروشگاه";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class="mat my-column my-clipped">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">تنظیمات فروشگاه</h3>
        <a href="/Store"><span class="icon-holder" uk-icon="backIcon"></span></a>
    </div>
    <form class="my-column createAccount uk-padding-small" action="StoreSetting" method="post" enctype="multipart/form-data" dir="rtl">
        @Html.AntiForgeryToken()
        <input asp-for="Id" type="hidden" />
        <input asp-for="IsMusicEnable" type="hidden" />
        <input asp-for="Name" type="hidden" />
        <div class="my-row uk-margin-top uk-margin-small-right">
            <div uk-form-custom>
                <input type="file" asp-for="LogoUrl">
                <img class="" src="~/Upload/StoreLogo/@Model.LogoUrl" width="80" height="80" />
            </div>

            <div class="my-column uk-margin-right">
                <label class="uk-margin-remove-bottom">@Model.Name</label>
                <label class="uk-margin-remove-top">
                    وضعیت:<span style="color:@((Model.IsOpen) ? "#32d296" : "red")" id="statusResult">
                        @if (Model.IsOpen)
                        {
                            @:باز
                        }
                        else
                        {
                            @:بسته
                        }

                    </span>
                </label>
            </div>

        </div>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <div class="my-row">
            <label for="" id="StoreStatus">
                باز کردن / بستن فروشگاه
            </label>
            <div class="OpenCloseStore my-column center uk-margin-auto-right uk-margin-top uk-margin-left">

                <img class="center upOfdoor" src="~/img/Store/window shade/upOfdoor.svg" />
                @if (Model.IsOpen)
                {
                    <div class="center door" id="door"></div>
                }
                else
                {
                    <div class="center door" style="height:23px" id="door"></div>
                }
                <img class="center bottomOfdoor" src="~/img/Store/window shade/bottomOfdoor.svg" onclick="ChangeStatus(@Model.Id)" />

            </div>
        </div>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <label for="StaticTell">تلفن ثابت:</label>
        <input type="text" asp-for="StaticTell">

        <label for="Address">آدرس فروشگاه:</label>
        <input type="text" asp-for="Address">
        <label for="address">موقعیت مکانی خود را کلیک کنید:</label>
        <div id="map" class="map"></div>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <input asp-for="Lat" type="hidden" />
        <input asp-for="Lon" type="hidden" />
        <label for="name">انتخاب نحوه تحویل و تسویه:</label>
        <div class="delivery uk-grid-small uk-child-width-auto uk-grid">
            <label class="uk-margin-remove-top"><input name="TahvilVaTasvieDarMahal" class="uk-checkbox uk-margin-remove-top" type="checkbox" asp-for="TahvilVaTasvieDarMahal"> تحویل و تسویه درب منزل</label>
            <label class="uk-margin-remove-top"><input name="TahvilVaTasvieDarForushgah" class="uk-checkbox uk-margin-remove-top" type="checkbox" asp-for="TahvilVaTasvieDarForushgah"> تحویل و تسویه در محل فروشگاه</label>
        </div>
        <hr class="uk-divider-icon uk-margin-remove-bottom uk-margin-remove-top" />
        <label for="name">مدت زمان تایید سفارش:</label>
        <input asp-for="ValidationTimeSpan">

        <a class="uk-margin-top serviceArea uk-margin-auto" href="#modal-sections" uk-toggle><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="map"></span>انتخاب محله های سرویس دهی</a>
        <div id="modal-sections" class="modal-sections" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto dir="rtl">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title uk-text-center">لطفا محله های مورد نظر برای سرویس دهی را انتخاب کنید</h3>
                </div>
                <div class="uk-modal-body uk-padding-small">
                    <div class="delivery uk-grid-small uk-child-width-1-2 uk-grid">
                        @{
                            List<DataLayer.Models.TblNaighborhood> naighborhoods = ViewBag.Naighborhood;
                        }
                        @foreach (var item in ViewBag.Naighborhood)
                        {
                            <label class="uk-margin-remove-top"><input class="uk-checkbox j uk-margin-remove-top" type="checkbox" value="@item.Id">@item.Name</label>
                        }
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-center">
                    <button id="btnubni" class="uk-button uk-button-small uk-border-rounded gradientButton center uk-modal-close" type="button">تایید</button>
                </div>
            </div>
        </div>
        <span id="NaighborhoodChecked"></span>
        @if (Model.IsMusicEnable)
        {
            <a class="uk-margin-top serviceArea uk-margin-auto" href="#music-modal" uk-toggle><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="musical-notes"></span>انتخاب موزیک برای فروشگاه</a>
            <div id="music-modal" class="modal-sections" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto dir="rtl">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h3 class="uk-modal-title uk-text-center">یکی از موزیک های زیر را انتخاب کنید</h3>
                    </div>
                    <div class="uk-modal-body uk-padding-small">
                        <div class="delivery uk-grid-small uk-child-width-1-1 uk-grid">
                            @{
                                List<DataLayer.Models.TblMusic> musics = ViewBag.Music;
                            }
                            @foreach (var item in musics)
                            {
                                <label class="uk-margin-top">
                                    <input class="uk-checkbox uk-margin-remove-top m" type="radio" value="@item.Id">نام موزیک اول
                                    <audio controls="controls">
                                        <source src="~/Upload/Music/@item.MusicUrl" type="audio/mpeg" />
                                    </audio>
                                </label>
                            }
                        </div>
                    </div>
                    <div class="uk-modal-footer uk-text-center">
                        <button id="btnMusic" class="uk-button uk-button-small uk-border-rounded gradientButton center uk-modal-close" type="button">تایید</button>

                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="MusicId" />
        }
        <input class="uk-margin-large-top uk-margin-bottom center gradientButton" type="submit" value="ویرایش فروشگاه">
    </form>
</div>
<div class="my-space"></div>

@section Script{

    <link href="~/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/leaflet/leaflet.js"></script>
    <script>
        $("#btnubni").click(function () {
            var selected = [];
            $('.j:checked').each(function () {
                selected.push($(this).attr('value'));
            });
            $("#NaighborhoodChecked").html("");
            for (var i = 0; i < selected.length; i++) {
                $("#NaighborhoodChecked").html($("#NaighborhoodChecked").html() + "<input name='Naighborhood' type='hidden' value='" + selected[i] + "' />");
            }
        });

        $("#btnMusic").click(function () {
            $("#MusicId").val($('.m:checked').val());
        });

    </script>
    <script>

        var map = L.map('map').setView([@Model.Lat,@Model.Lon], 11);

        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'echoville'
        }).addTo(map);

        var theMarker = {};
        var iconSetting = L.Icon.extend({
            options: {
                iconSize: [20, 29],
                iconAnchor: [10, 29]
            }
        });

        var customIcon = new iconSetting({ iconUrl: '/location.png' });
        var Name = $("#Name").val();
        var lat = $("#Lat").val();
        var lon = $("#Lon").val();
        L.marker([lat, lon], { icon: customIcon }).addTo(map);
        map.on('click', function (e) {
            lat = e.latlng.lat;
            lon = e.latlng.lng;

            //Clear existing marker,

            if (theMarker != undefined) {
                map.removeLayer(theMarker);
            };

            var iconSetting = L.Icon.extend({
                options: {
                    iconSize: [20, 29],
                    iconAnchor: [10, 29]
                }
            });

            var customIcon = new iconSetting({ iconUrl: '/location.png' });
            //Add a marker to show where you clicked.
            $("#Lat").val(lat.toString());
            $("#Lon").val(lon.toString());
            theMarker = L.marker([lat, lon], { icon: customIcon }).addTo(map).bindPopup('<h6 style="color:green">موقعیت جدید فروشگاه شما ثبت شد</h6>').openPopup();
        });

    </script>

    <script>
        function ChangeStatus(Id) {
            if (document.getElementById("door").style.height == "23px") {
                $.post("/Store/StatusChange?Id=" + Id, function (result) {
                    if (result == "true") {
                        document.getElementById("door").style.height = "8px";
                        document.getElementById("statusResult").style.color = "#32d296";
                        document.getElementById("statusResult").innerHTML = "باز";
                        $("#IsOpen").prop("checked", false);
                    }
                });
            } else {
                $.post("/Store/StatusChange?Id=" + Id, function (result) {
                    if (result == "true") {
                        document.getElementById("door").style.height = "23px";
                        document.getElementById("statusResult").style.color = "red";
                        document.getElementById("statusResult").innerHTML = "بسته";
                        $("#IsOpen").prop("checked", true);
                    }
                });
            }
        }
    </script>


}