@model DataLayer.ViewModel.EditUserViewModel
@{
    ViewData["Title"] = "تنظیمات حساب کاربری";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class="matCart valid-feedback my-column my-clipped my-clipped-desktop">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">تنظیمات حساب کاربری</h3>
        <a href="/"><span class="icon-holder backIconDesktop" uk-icon="backIcon"></span></a>
    </div>
    <span class="uk-text-success center">@ViewBag.Success</span>
    <form action="UserSetting" class="my-column createAccount uk-padding-small" dir="rtl" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <label for="name">نام و نام خانوادگی:</label>
        <input asp-for="Name">
        <span class="uk-text-danger" asp-validation-for="Name"></span>
        <a class="uk-margin-top serviceArea uk-margin-auto" href="#change-password" uk-toggle><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="key"></span>تغییر رمز عبور</a>
        <label for="Address">آدرس:</label>
        <input asp-for="Address">
        <span class="uk-text-danger" asp-validation-for="Address"></span>
        <label for="address">موقعیت مکانی خود را کلیک کنید:</label>
        <div id="map" class="map"></div>
        <input type="hidden" asp-for="Lat" />
        <input type="hidden" asp-for="Lon" />
        <span class="uk-text-danger" asp-validation-for="Lat"></span>
        <a class="uk-margin-top serviceArea uk-margin-auto" href="#modal-sections" uk-toggle><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="map"></span>تغییر محله</a>
        <span class="uk-text-danger" asp-validation-for="NaighborhoodId"></span>
        <div id="modal-sections" class="modal-sections" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto dir="rtl">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title uk-text-center">لطفا محله خود را انتخاب کنبد</h3>
                </div>
                <div class="uk-modal-body uk-padding-small">
                    <div class="delivery uk-grid-small uk-child-width-1-2 uk-grid">
                        @foreach (var item in ViewBag.Naighborhood)
                        {
                            if (item.Id == Model.NaighborhoodId)
                            {
                                <label class="uk-margin-remove-top"><input class="uk-checkbox uk-margin-remove-top Neighbourhood" checked type="radio" name="Neighbourhood" value="@item.Id">@item.Name</label>

                            }
                            else
                            {
                                <label class="uk-margin-remove-top"><input class="uk-checkbox uk-margin-remove-top Neighbourhood" type="radio" name="Neighbourhood" value="@item.Id">@item.Name</label>
                            }
                        }
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-center">
                    <button id="btnubni" class="uk-button uk-button-small uk-border-rounded gradientButton center uk-modal-close" type="button">تایید</button>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="NaighborhoodId" />
        <input class="center gradientButton uk-margin-large-top" type="submit" value="اعمال تغییرات">
    </form>
</div>
<div id="change-password" class="modal-sections" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto dir="rtl">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-modal-title uk-text-center">تغییر رمز عبور</h3>
        </div>
        @await Component.InvokeAsync("ChangeUserPassword", Model.Id)
    </div>
</div>
<div class="my-space"></div>

@section Script{

    <link href="~/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/leaflet/leaflet.js"></script>

    <script src="~/Validate/jquery.validate.min.js"></script>
    <script src="~/Validate/jquery.validate.unobtrusive.js"></script>
    <script>

        $("#btnubni").click(function () {
            $("#NaighborhoodId").val($(".Neighbourhood:checked").val());
        });
        var latMap = $('#Lat').val();
        var LonMap = $('#Lon').val();
        var map = L.map('map').setView([latMap, LonMap], 12.5);

        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'echoville'
        }).addTo(map);

        var theMarker = {};
        var iconSetting = L.Icon.extend({
            options: {
                iconSize: [20, 29],
                iconAnchor: [10, 29]
            }
        });

        var customIcon = new iconSetting({ iconUrl: '/location.png' });
        var Name = $("#Name").val();
        var lat = $("#Lat").val();
        var lon = $("#Lon").val();
        L.marker([lat, lon], { icon: customIcon }).addTo(map);
        map.on('click', function (e) {
            lat = e.latlng.lat;
            lon = e.latlng.lng;

            //Clear existing marker,

            if (theMarker != undefined) {
                map.removeLayer(theMarker);
            };

            var iconSetting = L.Icon.extend({
                options: {
                    iconSize: [20, 29],
                    iconAnchor: [10, 29]
                }
            });

            var customIcon = new iconSetting({ iconUrl: '/location.png' });
            //Add a marker to show where you clicked.
            $("#Lat").val(lat.toString());
            $("#Lon").val(lon.toString());
            theMarker = L.marker([lat, lon], { icon: customIcon }).addTo(map).bindPopup('<h6 style="color:green">موقعیت جدید شما ثبت شد</h6>').openPopup();
        });

    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=6LdicRAaAAAAALGqgSv_HLYYoqtnjw3XwFHJXrHj"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LdicRAaAAAAALGqgSv_HLYYoqtnjw3XwFHJXrHj', { action: 'Create' }).then(function (token) {
                document.getElementById("foo").value = token;
            });
        });
    </script>
    <style>
        .grecaptcha-badge {
            opacity: 0;
        }
    </style>

}