@model DataLayer.ViewModel.CreateServiceViewModel
@{
    ViewData["Title"] = "ایجاد خدمات";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
@*<div class="space-double"></div>
    <div class="space-mobile"></div>*@
<div class="my-space"></div>
<div class="mat my-column my-clipped my-clipped-desktop">
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">ایجاد خدمات</h3>
        <a><span class="icon-holder backIconDesktop" uk-icon="backIcon"></span></a>
    </div>
    <form class="my-column createAccount uk-padding-small" action="CreateBuissnes" method="post" enctype="multipart/form-data" dir="rtl">
        @Html.AntiForgeryToken()
        <input name="DealId" type="hidden" value="@ViewBag.DealId" />
        <div class="my-row uk-margin-top">
            <img class="uk-margin-right" src="~/img/Store/logo-defult.png" width="80" height="80" />
            <div class="uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom uk-margin-left">
                <div uk-form-custom>
                    <button id="LogoUrlbtn" class="uk-button uk-button-default uk-button-small uk-border-rounded" type="button" tabindex="-1">انتخاب تصویر</button>
                    <input type="file" asp-for="LogoUrl" id="LogoUrl" accept="image/jpeg,image/png">
                    @*<span asp-validation-for="LogoUrl" class="uk-text-danger"></span>*@
                    <br />

                </div>
            </div>
        </div>
        <span asp-validation-for="LogoUrl" class="uk-text-danger center"></span>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <label for="name">نام :</label>
        <input type="text" asp-for="Name">
        <span asp-validation-for="Name" class="uk-text-danger"></span>
        <label for="name">تلفن ثابت:</label>
        <input type="text" asp-for="StaticTell">
        <span asp-validation-for="StaticTell" class="uk-text-danger"></span>
        <label for="name">قیمت :</label>
        <input type="text" asp-for="BuissnessPrice">
        <span asp-validation-for="BuissnessPrice" class="uk-text-danger"></span>
        <label for="name">توضیح مختصر  :</label>
        <textarea asp-for="BuissnessDescription" rows="5" placeholder="توضیح مختصر در مورد خودتون رو وارد کنید"></textarea>
        <span asp-validation-for="BuissnessDescription" class="uk-text-danger"></span>
        <label for="name">آدرس :</label>
        <input type="text" asp-for="Address">
        <span asp-validation-for="Address" class="uk-text-danger"></span>
        <div id="map" class="map"></div>
        <input type="hidden" id="Lat" asp-for="Lat" />
        <input type="hidden" id="Lon" asp-for="Lon" />
        <span asp-validation-for="Lat" class="uk-text-danger"></span>
        <a onclick="SetMyLocation()" class="uk-margin-top serviceArea uk-margin-auto"><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="location-sharp"></span><span class="textSelectedMahele"> ثبت موقعیت کنونی</span></a>

        <span>
            <select class="uk-select uk-margin-top ParentCategory">
                <option value="0">دسته بندی را انتخاب کنید</option>
                @foreach (var item in ViewBag.ParentCategory)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <span class="Child">

            </span>
        </span>
        <input type="hidden" asp-for="CatagoryId" class="CatagoryId" />
        <span asp-validation-for="CatagoryId" class="uk-text-danger"></span>

        <hr class="uk-divider-icon uk-margin-remove-bottom uk-margin-remove-top" />
        <a class="uk-margin-top serviceArea uk-margin-auto" href="#modal-sections" uk-toggle><span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="map"></span><span class="textSelectedMahele">انتخاب محله های سرویس دهی</span></a>
        <div id="modal-sections" class="modal-sections" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto dir="rtl">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title uk-text-center">لطفا محله های مورد نظر برای سرویس دهی را انتخاب و تایید فرمایید</h3>
                </div>
                <div class="uk-modal-body uk-padding-small">
                    <div class="delivery uk-grid-small uk-child-width-1-2 uk-grid">
                        @{
                            List<DataLayer.Models.TblNaighborhood> naighborhoods = ViewBag.Naighborhood;
                        }
                        @foreach (var item in naighborhoods.OrderBy(i => i.Name))
                        {
                            <label class="uk-margin-remove-top"><input  class="radio_button uk-checkbox j uk-margin-remove-top" type="checkbox" value="@item.Id">@item.Name</label>
                        }
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-center">
                    <button id="btnubni" class="uk-button uk-button-small uk-border-rounded gradientButton center uk-modal-close " type="button">تایید</button>
                </div>
            </div>
        </div>
        <span id="checkedNaighborhood">
        </span>
        <span class="uk-text-danger">
            @ViewBag.NaighborhoodErorr
        </span>
        <input class="uk-margin-large-top uk-margin-bottom center gradientButton" type="submit" value="ایجاد ">
    </form>
</div>
@*<div class="space-double"></div>
    <div class="space-mobile"></div>*@
<div class="my-space"></div>


<input type="hidden" id="latMap" value="@Model.LatMap" />
<input type="hidden" id="lonMap" value="@Model.LonMap" />


@section Script{

<link href="~/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/leaflet/leaflet.js"></script>
<script>
    $("#btnubni").click(function () {
        if($('.radio_button').is(':checked'))
                                {
                                       $('.textSelectedMahele').text("محل های سرویس دهی را انتخاب کردید");

                                }
                                else{

                                       $('.textSelectedMahele').text("انتخاب محله های سرویس دهی");
                                }
        var selected = [];
        $('.j:checked').each(function () {
            selected.push($(this).attr('value'));
        });
        for (var i = 0; i < selected.length; i++) {
            $("#checkedNaighborhood").html($("#checkedNaighborhood").html() + "<input name='naighborhood' type='hidden' value='" + selected[i] + "' />");
        }
    });
</script>
<script>
    $("#LogoUrl").change(function () {
        if ($(this).val() != null) {
            $("#LogoUrlbtn").css("border", "2px solid green");
            $("#LogoUrlbtn").html("تصویرانتخاب شد");
        } else {
            $("#LogoUrlbtn").css("border", null);
        }
    });
</script>

<script>
    var latMap = $('#latMap').val();
    var lonMap = $('#lonMap').val();
    var map = L.map('map').setView([latMap, lonMap], 12);

    L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Ecovill'
    }).addTo(map);
     L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '<a onclick="SetMyLocation()">ثبت موقعیت کنونی شما</a>'
    }).addTo(map);
    var theMarker = {};

    map.on('click', function (e) {
        lat = e.latlng.lat;
        lon = e.latlng.lng;

        //Clear existing marker,

        if (theMarker != undefined) {
            map.removeLayer(theMarker);
        };

        var iconSetting = L.Icon.extend({
            options: {
                iconSize: [20, 29],
                iconAnchor: [10, 29]
            }
        });

        var customIcon = new iconSetting({ iconUrl: '/location.png' });
        //Add a marker to show where you clicked.
        $("#Lat").val(lat.toString());
        $("#Lon").val(lon.toString());
        theMarker = L.marker([lat, lon], { icon: customIcon }).addTo(map).bindPopup('<h6 style="color:green">موقعیت فروشگاه شما ثبت شد</h6>').openPopup();
    });

      ////location
        function onLocationFound(e) {
            var radius = e.accuracy;
            L.marker(e.latlng).addTo(map);

            L.circle(e.latlng, radius).addTo(map);

            //L.Routing.control({
            //    waypoints: [
            //        L.latLng(e.latlng),
            //        L.latLng(38.058639, 46.361255)
            //    ]
            //}).addTo(map);

            lat = e.latlng.lat;
            lon = e.latlng.lng;
            $("#Lat").val(lat.toString());
            $("#Lon").val(lon.toString());

            if (theMarker != undefined) {
               map.removeLayer(theMarker);
            };

             theMarker = L.marker([lat, lon], { icon: customIcon }).addTo(map).bindPopup('<h6 style="color:green">موقعیت جدید شما ثبت شد</h6>').openPopup();
       
         }
        function SetMyLocation() {
            map.locate({ setView: true, maxZoom: 16 });
            map.on('locationfound', onLocationFound);
        }

</script>

<script>
    $("#LogoUrl").change(function () {
        if ($(this).val() != null) {
            $("#LogoUrlbtn").css("border", "2px solid green");
            $("#LogoUrlbtn").html("تصویرانتخاب شد");
        } else {
            $("#LogoUrlbtn").css("border", null);
        }
    });
</script>

<script>
    $(".ParentCategory").change(function () {
        $.get("/Store/ChildStoreCategory?id=" + $(".ParentCategory option:selected").val(), function (result) {
            $(".CatagoryId").val($("#ChildCategory option:selected").val());
            $(".Child").html(result);
        });
    });
</script>

}