@model DataLayer.Models.TblStore

@using DigiShahr.Classes

<link href="~/StyleCenter/Sass/Home/Home.min.css" rel="stylesheet" />
<script src="~/UIKit/js/uikit.min.js"></script>

<div class="modal-header">
    <h6 class="modal-title mr-3" id="modalCenterTitle">
        جزئیات فروشگاه
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div id="card-table" class="card-body flex-div">
            <div class="form-row ">
                <div class="form-group col-md-5">
                    <label>نام فروشگاه:</label>
                    <span>@Model.Name</span>
                </div>
                <div class="form-group col-md-5">
                    <label>نام دسته بندی:</label>
                    <span>@Model.Catagory.Name</span>
                </div>
                <div class="form-group col-md-5">
                    <label>نام صاحب فروشگاه:</label>
                    <span>@Model.User.Name</span>
                </div>
                <div class="form-group col-md-5">
                    <label>وضعیت:</label>
                    @if (Model.IsValid)
                    {
                        <span class="text-success">فعال</span>
                    }
                    else
                    {
                        <span class="text-danger">غیر فعال</span>
                    }
                </div>
                <div class="form-group col-md-5">
                    <label>وضعیت تایید اعتبار:</label>
                    @if (Model.IsValid)
                    {
                        <span class="text-success"> تایید شده</span>
                    }
                    else
                    {
                        <span class="text-danger"> تایید نشده</span>
                    }
                </div>
                <div class="form-group col-md-5">
                    <label>شماره تلفن ثابت:</label>
                    <span>@Model.StaticTell</span>
                </div>
                <div class="form-group col-md-5">
                    <label>شماره موبایل:</label>
                    <span>@Model.User.TellNo</span>
                </div>
                <hr />
                <div class="form-group col-md-12 bg-light p-3">
                    <label>آدرس فروشگاه:</label>
                    <span>@Model.Address</span>
                </div>
                <div class="form-group col-md-5">
                    <label>لوگو:</label>
                    <span>
                        <img src="~/Upload/StoreLogo/@Model.LogoUrl" width="100" height="100" />
                    </span>
                </div>
                <div class="form-group col-md-5">
                    <label>امتیاز فروشگاه:</label>
                    <div class="star-container" uk-tooltip="@Model.Rate">
                        <div class="Stars" style="--rating:@Model.Rate"></div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label>حداکثر تعداد دسته بندی:</label>
                    <span>@Model.CatagoryLimit</span>
                </div>
                <div class="form-group col-md-5">
                    <label>حداکثر تعداد محصول:</label>
                    <span>@Model.ProductLimit</span>
                </div>

            </div>
        </div>
    </div>

</form>
