@model IEnumerable<DataLayer.Models.TblStore>


<div class="card-header bg-white">

    <div class="card-form row pr-1 pb-0 mb-0">
        <div class="form-inline pb-0 mb-0">
            <input id="storeName" type="text" class="form-control form-control-sm mr-2" placeholder="نام فروشگاه" value="@ViewBag.storeName">
            <input id="phoneNumber" type="tel" class="form-control form-control-sm mr-2 mt-2 mt-sm-0 " placeholder="شماره تماس" value="@ViewBag.phoneNumber">
        </div>
        <div class="form-toolbar pr-2">
            <button id="Search" class="btn btn-primary btn-sm mt-2 mt-sm-0">جستجو</button>
            <img id="SearchLoad" src="~/img/adminStatic/load2.gif" class="justify-content-center d-none" width="60" height="60" />
        </div>
    </div>

</div>

<div id="card-table" class="card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed">
            <thead class="thead-light">
                <tr>
                    <th>نام فروشگاه</th>
                    <th>نام صاحب فروشگاه</th>
                    <th>شماره تماس</th>
                    <th>وضعیت</th>
                    <th>جزئیات</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Count() == 0)
                {
                    <tr>
                        <td>یافت نشد</td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.User.Name</td>
                        <td>@item.User.TellNo</td>
                        @if (item.IsValid == true)
                        {
                            <td class="text-success">
                                تایید شده
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                تایید نشده
                            </td>
                        }
                        <td>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="جزئیات فروشگاه">
                                <a onclick="Info(@item.Id)" data-toggle="modal" data-target="#modalSave" id="Info" class="text-primary" uk-icon="information-circle-outline"></a>
                            </span>
                            @if (item.IsValid == true)
                            {
                                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="تایید اعتبار">
                                    <a onclick="Accept(@item.Id)" class="text-success" uk-icon="checkmark-done-circle-outline"></a>
                                </span>
                            }
                            else
                            {
                                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="عدم تایید اعتبار">
                                    <a onclick="Reject(@item.Id)" class="text-danger" uk-icon="close-circle-outline"></a>
                                </span>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card-footer bg-white">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">

            <li class="page-item">
                <select id="pageNumber" class="custom-select custom-select-sm">
                    @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
                    {
                        <option class="page-item" value="@i" asp-route-dateNext='@(((int)ViewBag.pageId == i) ? "selected" : "" )'>صفحه @i از @((int)ViewBag.PageCount + 1)</option>
                    }
                </select>
            </li>


            <li>
                <select id="InPageCount" class="custom-select custom-select-sm">
                    @if (ViewBag.InPageCount == 0)
                    {
                        <option value="0" selected>10 در هر صفحه</option>
                        <option value="20">20 در هر صفحه</option>
                        <option value="30">30 در هر صفحه</option>
                        <option value="40">40 در هر صفحه</option>

                    }

                    @if (ViewBag.InPageCount == 20)
                    {
                        <option value="0">10 در هر صفحه</option>
                        <option value="20" selected>20 در هر صفحه</option>
                        <option value="30">30 در هر صفحه</option>
                        <option value="40">40 در هر صفحه</option>

                    }
                    else if (ViewBag.InPageCount == 30)
                    {
                        <option value="0">10 در هر صفحه</option>
                        <option value="20">20 در هر صفحه</option>
                        <option value="30" selected>30 در هر صفحه</option>
                        <option value="40">40 در هر صفحه</option>

                    }
                    else if (ViewBag.InPageCount == 40)
                    {
                        <option value="0">10 در هر صفحه</option>
                        <option value="20">20 در هر صفحه</option>
                        <option value="30">30 در هر صفحه</option>
                        <option value="40" selected>40 در هر صفحه</option>
                    }

                </select>
            </li>
        </ul>
    </nav>
</div>


<script src="~/Command/AdminStore.js"></script>