@model IEnumerable<DataLayer.Models.TblBookMark>
@{
    ViewData["Title"] = "Bookmark";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@if (Model.Count() == 0)
{
    <b>لیست علاقمندی ها خالی میباشد</b>
}

@foreach (var item in Model)
{
    <b>@item.StoreId</b>
    <b>@item.Store.Name</b>
    <b>@item.Store.LogoUrl</b>
    <b>@item.Store.Rate</b>
    <b>@item.Store.Address</b>
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="pageHeader">
    <div class="my-spaceInMap"></div>
    <div class="formTitr my-row uk-margin-top" dir="rtl">
        <h3 class="center">نشان شده ها</h3>
        <a><span class="icon-holder" uk-icon="backIcon"></span></a>
    </div>
</div>
<content class="grid" dir="rtl">
    <article class="firstPackage Bookmarks matCart my-clipped">
        <div class="my-row">
            <div class="LogoPictureContainer uk-margin-top">
                <a><img class="uk-margin-right" src="~/img/sample/logoSample.png" width="80" /></a>
            </div>
            <div class="my-column uk-margin-right uk-margin-top">
                <label class="uk-margin-remove-bottom">فروشگاه فلان</label>
                <label class="uk-margin-remove-top"><span class="icon-holder starIcon uk-margin-small-left" uk-icon="star"> </span>4/5</label>
            </div>
        </div>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <span class="icon-holder uk-text-danger uk-margin-right uk-margin-small-top uk-margin-bottom" uk-icon="location"></span>خیابان فلان کوچه فلان
    </article>
    <article class="Bookmarks matCart my-clipped uk-margin-top">
        <div class="my-row">
            <div class="LogoPictureContainer uk-margin-top">
                <a><img class="uk-margin-right" src="~/img/Store/logo-sample.png" width="80" /></a>
            </div>
            <div class="my-column uk-margin-right uk-margin-top">
                <label class="uk-margin-remove-bottom">فروشگاه فلان</label>
                <label class="uk-margin-remove-top"><span class="icon-holder starIcon uk-margin-small-left" uk-icon="star"> </span>4/5</label>
            </div>
        </div>
        <hr class="uk-divider-icon uk-margin-remove-bottom" />
        <span class="icon-holder uk-text-danger uk-margin-right uk-margin-small-top uk-margin-bottom" uk-icon="location"></span>خیابان فلان کوچه فلان
    </article>
</content>

<div class="my-space"></div>
