@model DataLayer.ViewModel.PieceViewModol
@{
    ViewData["Title"] = "فروشگاه";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using DigiShahr.Classes

<style>
    .bannerBackground {
        background: @Model.Store.Catagory.Color;
    }
</style>

@section MusicInStore{

    @if (Model.Store.Ability.IsMusicEnable.Value)
    {
        if (Model.Store.Ability.MusicId != null || Model.Store.Ability.MusicId != 0)
        {
            <li><a id="play"><span class="icon-holder" uk-icon="volume-mute"></span></a></li>
            <li><a id="Pause"><span class="icon-holder" uk-icon="volume-high"></span></a></li>
            <audio id="music" hidden src="~/Upload/Music/@Model.Store.Ability.Music.MusicUrl" preload="auto"></audio>
            <script src="~/Jquery/jquery-3.4.1.js"></script>
            <script>

                $(function () {
                    var music = document.getElementById("music");
                    music.play();
                    $("#Pause").show();
                    $("#play").hide();
                });


                if (document.getElementById("music").paused) {
                    $("#Pause").hide();
                    $("#play").show();
                } else {
                    $("#Pause").show();
                    $("#play").hide();
                }

                $("#play").click(function () {
                    var music = document.getElementById("music");
                    music.play();
                    $("#Pause").show();
                    $("#play").hide();
                });

                $("#Pause").click(function () {
                    var music = document.getElementById("music");
                    music.pause();
                    $("#Pause").hide();
                    $("#play").show();
                });
            </script>
        }
    }
}

<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class=" my-column my-clipped storeHead">

    <div class="BannerPlace BannerInStore Piecebanner matCart center my-clipped my-clipped-desktop bannerBackground">
        <a href="/"><span class="icon-holder uk-position-absolute uk-margin-top uk-margin-left backIconDesktop backIconPiece" uk-icon="backIcon"></span></a>
        <img class="storeMainBanner MainbannerImage center" src="~/Upload/StoreMainBanner/@Model.Store.MainBannerUrl" />
    </div>

    <div class="center my-column uk-position-absolute ">

        <div class="center storeStars uk-margin-top">
            <div class="star-container" uk-tooltip="@Model.Store.Rate">
                <div class="Stars" style="--rating:@Model.Store.Rate"></div>
            </div>
        </div>
        <div class="center LogoPictureInStore">
            <img class="storeLogo" src="/Upload/StoreLogo/@Model.Store.LogoUrl" />
        </div>
    </div>
    <div class="deliveryState my-column matCart my-column my-clipped uk-margin-top my-clipped-desktop">
        <div class="center uk-margin-auto-vertical uk-padding-small uk-text-right my-column">
            @if (User.Identity.IsAuthenticated)
            {
                @if (ViewBag.Bookmark == true)
                {
                    <a onclick="ChangeBookMark(@Model.Store.Id,@ViewBag.UserId)" class="i uk-position-absolute bookmarkIconeInStore"><span class="icon-holder uk-text-muted uk-text-danger" uk-icon="bookmark"></span></a>
                }
                else
                {
                    <a onclick="ChangeBookMark(@Model.Store.Id,@ViewBag.UserId)" class="i uk-position-absolute bookmarkIconeInStore"><span class="icon-holder uk-text-muted" uk-icon="bookmark-outline"></span></a>
                }
            }
            <label class="uk-text-center uk-text-bold uk-margin-small-bottom">@Model.Store.Name</label>
            @if (Model.Store.Ability.TahvilVaTasvieDarForushgah == 1)
            {
                <label class="uk-margin-small-top">تحویل و تسویه درب فروشگاه<span class="icon-holder uk-margin-small-left uk-text-success" uk-icon="storefront"></span></label>
            }
            @if (Model.Store.Ability.TahvilVaTasvieDarMahal == 1)
            {
                <label class="uk-margin-small-top uk-margin-small-bottom">تحویل و تسویه درب منزل<span class="icon-holder uk-margin-small-left uk-text-warning" uk-icon="home"></span></label>
            }

        </div>
    </div>

</div>
<hr class="uk-divider-icon" />
@if (Model.Store.Ability.IsLotteryEnable)
{
    if (Model.Store.Ability.LotteryDisplayDate != null)
    {
        @if (DateTime.Now.Date < Model.Store.Ability.LotteryDisplayDate.Value.Date)
        {
            <div class="Lottery my-column matCart my-column my-clipped my-clipped-desktop">
                <img class="center uk-margin-small-top" src="~/img/Store/lottery.webp" />
                <hr class="uk-divider-icon" />
                <div class="LotteryIcon uk-margin-auto-left uk-margin-auto-vertical uk-margin-small-right my-column">
                    <label>@Model.Store.Ability.LotteryDisplayDate.Value.DateToShamsi()<span class="icon-holder uk-margin-small-left" uk-icon="calendar"></span></label>
                    <label class="uk-margin-small-top uk-margin-bottom">@Model.Store.Ability.LotteryDisplayPrize<span class="icon-holder uk-margin-small-left" uk-icon="gift"></span></label>
                </div>
            </div>
        }
    }
}

@if (Model.Store.Ability.IsBanner1Enable)
{
    <div class="BannerInStore Piecebanner matCart center my-clipped uk-margin-small-top bannerBackground my-clipped-desktop">

        @if (!string.IsNullOrEmpty(Model.Store.Ability.BannerImageUrl1))
        {

            <a href="@Model.Store.Ability.BannerLink1">
                <img class="bannerImage" src="/Upload/Banner1/@Model.Store.Ability.BannerImageUrl1" />
            </a>

        }
    </div>
}
<div class="matCart storeProducts productSection my-column my-clipped uk-margin-small-top my-clipped-desktop">
    <div class="CategoryListcontainer">

        <div class="uk-margin-large-top my-row CategoryList">
            <div class="category">
                <a class="i" href="/Home/Piece?Id=@Model.Store.Id">همه</a>
            </div>
            @foreach (var item in Model.Store.TblCatagories)
            {
                <div class="category">
                    <a class="i" href="/Home/Piece?Id=@Model.Store.Id&Category=@item.Id">@item.Name</a>
                </div>
            }

        </div>
        <hr />
    </div>

    <div class="produceOfCategory">
        @if (Model.Products.Count() == 0)
        {
            <span class="uk-text-center center">محصولی وجود ندارد</span>
        }
        @foreach (var item in Model.Products)
        {
            if (item.Count == 0)
            {
                <div class="my-row uk-padding-small " dir="rtl">
                    <div class="my-column uk-margin-small-right">
                        <label>@item.Name</label>
                        <div class="my-row">
                            <div class="my-column">
                                @if (item.Discount != 0)
                                {
                                    <label class="uk-margin-top"><s>@item.Price.ToString("#,0")<span>تومان</span></s></label>

                                    <label>@((item.Price * item.Discount) / 100)<span>تومان</span></label>
                                }
                                else
                                {
                                    <label class="uk-margin-top">@item.Price.ToString("#,0")<span>تومان</span></label>
                                }
                            </div>
                            @if (item.Discount != 0)
                            {
                                <label class="OFFPercent uk-margin-top">@item.Discount%</label>
                            }
                        </div>
                    </div>
                    <div class="my-column ProductPicture center uk-text-center uk-margin-auto-right uk-margin-small-left">
                        <div class="ProductPicture center">
                            <img src="/Upload/Product/@item.MainImageUrl" width="80" height="80" />
                        </div>
                        @if (item.Count == 0)
                        {
                            <button disabled class="gradientButton gradientButtonDisabled uk-text-white center uk-margin-small-top">ناموجود</button>
                        }
                        else
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (UserCrew.UserByTellNo(User.Claims.Last().Value).Result.TblStores.Count() == 0)
                                {
                                    <button onclick="AddToCart(@item.Id)" class="i gradientButton center uk-margin-small-top">افزودن</button>
                                }
                                else
                                {

                                    if (UserCrew.UserByTellNo(User.Claims.Last().Value).Result.TblStores.First().Id == Model.Store.Id)
                                    {
                                        <button disabled class="gradientButton gradientButtonDisabled uk-text-white center uk-margin-small-top">افزودن</button>
                                    }
                                    else
                                    {
                                        <button onclick="AddToCart(@item.Id)" class="i gradientButton center uk-margin-small-top">افزودن</button>
                                    }
                                }
                            }
                            else
                            {
                                <button onclick="window.location.href='/Account/Login'" class="i gradientButton center uk-margin-small-top">افزودن</button>
                            }
                        }
                    </div>
                </div>
                <hr />
            }
            else
            {
                <div class="my-row uk-padding-small " dir="rtl">
                    <div class="my-column uk-margin-small-right">
                        <label>@item.Name</label>
                        <div class="my-row">
                            <div class="my-column">
                                @if (item.Discount != 0)
                                {
                                    <label class="uk-margin-top"><s>@item.Price.ToString("#,0")<span>تومان</span></s></label>

                                    <label>@(item.Price - item.Price * item.Discount / 100)<span>تومان</span></label>
                                }
                                else
                                {
                                    <label class="uk-margin-top">@item.Price.ToString("#,0")<span>تومان</span></label>
                                }
                            </div>
                            @if (item.Discount != 0)
                            {
                                <label class="OFFPercent uk-margin-top">@item.Discount%</label>
                            }
                        </div>
                    </div>
                    <div class="my-column ProductPicture center uk-text-center uk-margin-auto-right uk-margin-small-left">
                        <div class="ProductPicture center">
                            <img src="/Upload/Product/@item.MainImageUrl" width="80" height="80" />
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {

                            if (UserCrew.UserByTellNo(User.Claims.Last().Value).Result.TblStores.Count() == 0)
                            {
                                <button onclick="AddToCart(@item.Id)" class="i gradientButton center uk-margin-small-top">افزودن</button>
                            }
                            else
                            {

                                if (UserCrew.UserByTellNo(User.Claims.Last().Value).Result.TblStores.First().Id == Model.Store.Id)
                                {
                                    <button disabled class="gradientButton gradientButtonDisabled uk-text-white center uk-margin-small-top">افزودن</button>
                                }
                                else
                                {
                                    <button onclick="AddToCart(@item.Id)" class="gradientButton center uk-margin-small-top">افزودن</button>
                                }
                            }
                        }
                        else
                        {
                            <button onclick="window.location.href='/Account/Login'" class="gradientButton center uk-margin-small-top">افزودن</button>
                        }
                    </div>
                </div>
                <hr />
            }
        }
    </div>

</div>
@if (Model.Store.Ability.IsBanner2Enable)
{
    <div class="BannerInStore Piecebanner matCart center my-clipped uk-margin-small-top bannerBackground my-clipped-desktop">
        @if (!string.IsNullOrEmpty(Model.Store.Ability.BannerImageUrl2))
        {
            <a href="@Model.Store.Ability.BannerLink2">
                <img class="bannerImage" src="/Upload/Banner2/@Model.Store.Ability.BannerImageUrl2" />
            </a>
        }
    </div>
}
<div class="my-space"></div>


@section Script{
    <script>

        $(".i").click(function () {
            $("#overlay").fadeIn(300);
        });

        function AddToCart(Id) {
            $("#overlay").fadeIn(300);
            $.post("/Order/AddToCart?Id=" + Id, function (result) {
                if (result == "true") {
                    window.location.reload();
                } else if (result == "ExitStore") {
                    $("#overlay").fadeOut(300);
                    UIkit.notification({ message: 'برای خرید از فروشگاه دیگر، ابتدا خرید از فروشگاه فعلی را تکمیل نمایید' });
                }
            });
        }

        function ChangeBookMark(StoreId, UserId) {
            $("#overlay").fadeIn(300);
            $.post("/User/ChangeBookMark?StoreId=" + StoreId + "&UserId=" + UserId, function (result) {
                if (result == "true") {
                    window.location.reload();
                }
            });
        }

    </script>
}

