@model DataLayer.Models.TblStore
@{
    ViewData["Title"] = "Piece";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<style>
    .bannerBackground {
        background: #F28F3B;
    }
</style>
<link href="~/StyleCenter/Sass/sellerStyle/FormsAndSeller.min.css" rel="stylesheet" />
<div class="my-space"></div>
<div class=" my-column my-clipped storeHead">

    <div class="BannerPlace BannerInStore Piecebanner matCart center my-clipped bannerBackground">
        <a href="/Store"><span class="icon-holder uk-position-absolute uk-margin-top uk-margin-left" uk-icon="backIcon"></span></a>
        <img class="storeMainBanner MainbannerImage center" src="~/Upload/StoreMainBanner/@Model.MainBannerUrl" />
    </div>

    @*<a class="uk-position-absolute bookmarkIcone"><span class="icon-holder uk-text-muted" uk-icon="bookmark"></span></a>*@
    <div class="center my-column uk-position-absolute ">

        <div class="center storeStars uk-margin-top">
            <div class="star-container" uk-tooltip="@Model.Rate">
                <div class="Stars" style="--rating:@Model.Rate"></div>
            </div>
        </div>
        <div class="center LogoPictureInStore">
            <img class="storeLogo" src="/Upload/StoreLogo/@Model.LogoUrl" />
        </div>
        @*@if (Model.Ability.TahvilVaTasvieDarMahal == 1)
            {
                <label class="deliveryState">
                    تحویل و تسویه درب منزل
                </label>
            }
            @if (Model.Ability.TahvilVaTasvieDarForushgah == 1)
            {
                <label class="deliveryState">
                    تحویل و تسویه درب فروشگاه
                </label>
            }*@

    </div>
    <div class="deliveryState my-column matCart my-column my-clipped uk-margin-top">
        <div class="center uk-margin-auto-vertical uk-padding-small uk-text-right my-column">
            <a class="uk-position-absolute bookmarkIconeInStore"><span class="icon-holder uk-text-muted" uk-icon="bookmark-outline"></span></a>
            <label class="uk-text-center uk-text-bold uk-margin-small-bottom">نام فروشگاه</label>
            @if (Model.Ability.TahvilVaTasvieDarForushgah == 1)
            {
                <label class="uk-margin-small-top">تحویل و تسویه درب فروشگاه<span class="icon-holder uk-margin-small-left uk-text-success" uk-icon="storefront"></span></label>
            }
            @if (Model.Ability.TahvilVaTasvieDarMahal == 1)
            {
                <label class="uk-margin-small-top uk-margin-small-bottom">تحویل و تسویه درب منزل<span class="icon-holder uk-margin-small-left uk-text-warning" uk-icon="home"></span></label>
            }
        </div>
    </div>

</div>
<hr class="uk-divider-icon" />
@if (Model.Ability.IsLotteryEnable)
{
    if (Model.Ability.LotteryDisplayDate != null)
    {
        <div class="Lottery my-column matCart my-column my-clipped">
            <img class="center uk-margin-small-top" src="~/img/Store/lottery.webp" />
            <div class="LotteryIcon uk-margin-auto-left uk-margin-auto-vertical uk-margin-small-right my-column">
                <label>@Model.Ability.LotteryDisplayDate<span class="icon-holder" uk-icon="calendar"></span></label>
                <label class="uk-margin-small-top uk-margin-small-bottom">@Model.Ability.LotteryDisplayPrize<span class="icon-holder" uk-icon="gift"></span></label>
            </div>
        </div>
    }
}

@if (Model.Ability.IsBanner1Enable)
{
    <div class="BannerInStore Piecebanner matCart center my-clipped uk-margin-small-top bannerBackground">
        <img class="bannerImage" src="/Upload/Banner1/@Model.Ability.BannerImageUrl1" />
    </div>
}
<div class="matCart storeProducts productSection my-column my-clipped uk-margin-small-top">
    <div class="CategoryListcontainer">

        <div class="uk-margin-large-top my-row CategoryList">

            @foreach (var item in Model.TblCatagories)
            {
                <div class="category">
                    @item.Name
                </div>
            }

        </div>
        <hr />
    </div>

    <div class="produceOfCategory">
        @foreach (var item in Model.TblProducts)
        {
            <div class="my-row uk-padding-small " dir="rtl">
                <div class="my-column uk-margin-small-right">
                    <label>@item.Name</label>
                    <div class="my-row">
                        <div class="my-column">
                            @if (item.Discount != 0)
                            {
                                <label class="uk-margin-top"><s>@item.Price.ToString("#,0")<span>تومان</span></s></label>
                                
                                <label>@(item.Price - item.Price * item.Discount / 100)<span>تومان</span></label>
                            }
                            else
                            {
                                <label class="uk-margin-top">@item.Price.ToString("#,0")<span>تومان</span></label>
                            }
                        </div>
                        @if (item.Discount != 0)
                        {
                            <label class="OFFPercent uk-margin-top">@item.Discount%</label>
                        }
                    </div>
                </div>
                <div class="my-column ProductPicture center uk-text-center uk-margin-auto-right uk-margin-small-left">
                    <div class="ProductPicture center">
                        <img src="/Upload/Product/@item.MainImageUrl" width="80" height="80" />
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (UserCrew.UserByTellNo(User.Claims.Last().Value).Result.TblStores.First().Id == Model.Id)
                        {
                            <button disabled class="gradientButton uk-button-secondary uk-text-white center uk-margin-small-top">افزودن</button>
                        }
                        else
                        {
                            <button onclick="AddToCart(@item.Id)" class="gradientButton center uk-margin-small-top">افزودن</button>
                        }
                    }
                    else
                    {
                        <button onclick="window.location.href='/Account/Login'" class="gradientButton uk-button-secondary center uk-margin-small-top">افزودن</button>
                    }
                </div>
            </div>
            <hr />
        }
    </div>

</div>
@if (Model.Ability.IsBanner2Enable)
{
    <div class="BannerInStore Piecebanner matCart center my-clipped uk-margin-small-top bannerBackground">
        <img class="bannerImage" src="/Upload/Banner2/@Model.Ability.BannerImageUrl2" />
    </div>
}
<div class="my-space"></div>

@section Script{
    <script>
        function AddToCart(Id) {
            $.post("/Order/AddToCart?Id=" + Id, function (result) {
                if (result == "true") {
                    window.location.reload();
                }
            });
        }
    </script>
}

