@using System.Security.Claims
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">*@
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <meta name="theme-color" content="#6298b2">
    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <link href="~/UIKit/css/uikit.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/Sass/Controls.min.css" rel="stylesheet" />
    <link href="~/StyleCenter/DataPicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/StyleCenter/Tools/Load.css" rel="stylesheet" />
    <link href="/Logo.ico" rel="icon" />

</head>



<body onload="setInterval(Ooad,1000)">


    @if (User.Identity.IsAuthenticated)
    {
        <input type="hidden" id="UserTellNo" value="@User.FindFirstValue(ClaimTypes.Name).ToString()" />
    }
    <section class="layoutHeader">
        <div class="mat my-row uk-padding-small">
            <ul class="uk-iconnav">

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.Claims.First().Value == "user")
                    {
                        <li><a class="icon-holder i" uk-icon="addStore" href="/Store/CreateStore"></a></li>
                    }
                    else if (User.Claims.First().Value == "seller")
                    {
                        <li><a onclick="NewOrdernotifications(@UserCrew.UserByTellNo(User.FindFirstValue(ClaimTypes.Name).ToString()).Result.Id)" class="icon-holder CartNotif" uk-icon="notifications" href="#notificationList" uk-toggle><span id="NewOrdernotificationsShow" class="center badge uk-text-center uk-margin-auto-vertical" dir="auto"></span></a></li>

                    }
                    <li><a class="icon-holder i" uk-icon="bookmark" href="/Home/Bookmark"></a></li>
                }
                else
                {
                    <li><a href="/Account/CreateAccount" class="icon-holder" uk-icon="person-add"></a></li>
                    <li><a class="icon-holder i" href="/Store/CreateStore" uk-icon="addStore"></a></li>
                    <li><a class="icon-holder i" uk-icon="bookmark" href="/Account/Login"></a></li>
                }
                @RenderSection("MusicInStore", false)
            </ul>
            <span class="icon-holder uk-margin-auto-left" uk-icon="reorder-four" uk-toggle="target: #offcanvas-flip"></span>
        </div>
        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                @*<h3 class="MenuCategory">دسته بندی مشاغل</h3>*@
                <style>
                    .imgLogo {
                        width: 70%;
                        margin: auto;
                        display: block;
                    }
                </style>
                <a href="/">
                    <img src="/Logo.png" class="imgLogo" />
                </a>
                <ul class="uk-menu-accordion" uk-accordion="multiple: true" dir="rtl">
                    @await Component.InvokeAsync("ParentCateogoryLayout")
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="/User" class="main-title"><span class="icon-holder uk-margin-small-left" uk-icon="bag-check-outline"></span>سفارشات</a>
                        </li>
                        <li>
                            <a href="/User/Service" class="main-title"><span class="icon-holder uk-margin-small-left" uk-icon="server-outline"></span>لیست ویزیت</a>
                        </li>

                    }

                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Account/signout" class="signout uk-margin-top center uk-align-center uk-margin-bottom cursor-pointer" dir="rtl"><span class="" uk-icon="log-out"></span> خروج از حساب کاربری </a>
                }

                <div class="center my-column uk-text-center uk-margin-medium-top">
                    <label class="center uk-text-center uk-text-small">تمامی حقوق این سایت متعلق به اکوویل میباشد</label>
                    @* <label class="center uk-text-center uk-text-small">

                        تمامی حقوق مادی و معنوی این قالب متعلق به اکویل می باشد


                        </label>*@
                </div>
            </div>

        </div>
    </section>
    <div>
        @RenderBody()
    </div>
    <section class="layoutFooter">
        <div class="mat uk-padding-small center">
            <ul class="uk-iconnav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Order/ShowBasket?ReturnUrl=@Context.Request.Host@Context.Request.Path" class="icon-holder CartNotif i" uk-icon="cart"><span class="center badge uk-text-center uk-margin-auto-vertical" dir="auto">@await Component.InvokeAsync("CartCount", User.FindFirstValue(ClaimTypes.Name).ToString())</span></a></li>
                }
                else
                {
                    <li><a href="/Account/Login" class="icon-holder CartNotif i" uk-icon="cart"><span class="center badge uk-text-center uk-margin-auto-vertical" dir="auto">0</span></a></li>
                }
                <li><a href="/" class="icon-holder i" uk-icon="home"></a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.Claims.First().Value == "seller")
                    {
                        <li><a class="icon-holder i" uk-icon="changeAccount" href="/Store/Dashboard"></a></li>
                    }
                    else if (User.Claims.First().Value == "user")
                    {
                        <li><a class="icon-holder i" uk-icon="changeAccount" href="/Home/Selected"></a></li>
                    }
                    else if (User.Claims.First().Value == "services")
                    {
                        <li><a class="icon-holder i" uk-icon="changeAccount" href="/Buissnes/Dashboard"></a></li>
                    }
                    else if (User.Claims.First().Value == "admin")
                    {
                        <li><a class="icon-holder i" uk-icon="people-outline" href="/admin"></a></li>
                    }
                }
                else
                {
                    <li><a class="icon-holder i" uk-icon="changeAccount" href="/Store/BuyPackage" title="ثبت فروشگاه یا خدمات"></a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a class="icon-holder i" uk-icon="person" href="/User/UserSetting"></a></li>
                }
                else
                {
                    <li><a class="icon-holder i" uk-icon="person" href="/Account/Login"></a></li>
                }
            </ul>
        </div>
    </section>
    <!-- #Loading -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <script>
        function NewOrdernotifications(UseId) {
            $.get("/Home/NewNotificationOrder/" + UseId, function (result) {
                $("#notificationList").html(result);
            });
        }
    </script>
    @*notification-madal*@
    <div id="notificationList" class="modal-sections notificationList" uk-modal>
    </div>
    @*end notification-madal*@

    <script src="/Jquery/jquery-3.4.1.js"></script>
    <script src="/Jquery/jquery-3.4.1.min.js"></script>
    <script src="/Jquery/modal.js"></script>
    <script src="/Jquery/popper.min.js"></script>
    <script src="/Bootstrap/js/bootstrap.js"></script>
    <script src="/Bootstrap/js/bootstrap.min.js"></script>
    <script src="/Bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/UIKit/js/Global.js"></script>
    <script src="~/UIKit/js/uikit.min.js"></script>
    <script src="/icons/uikit-icons.js"></script>
    <script src="/ScriptCenter/DatePicker/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>

    <script>
        $(".i").click(function () {
            $("#overlay").fadeIn(300);
        });
    </script>

    <script>

        //function Ooad() {
        //    $.get("/Home/NewOrdernotificationsShow?TellNo=" + $("#UserTellNo").val(), function (result) {
        //        $("#NewOrdernotificationsShow").html(result);
        //    });
        //}

    </script>


    @RenderSection("Script", false)

</body>
</html>

