@model IEnumerable<DataLayer.Models.TblQueue>

@using DigiShahr.Classes

<div class="card-header bg-white">

    <div class="card-form row pr-1 pb-0 mb-0">
        <div class="form-inline mb-0">
            <input id="QueueId" value="@ViewBag.QueueId" type="text" class="form-control form-control-sm mr-2" placeholder="کد سفارش">
            <input id="phoneNumber" value="@ViewBag.PhoneNumber" type="tel" class="form-control form-control-sm mr-2 mt-2 mt-sm-0 " placeholder="شماره تماس">
        </div>
        <div class="form-toolbar pr-2 mb-0 ">
            <button type="submit" id="search" class="btn btn-primary btn-sm mt-4">جستجو</button>
            <img id="SearchLoad" src="~/img/adminStatic/load2.gif" class="justify-content-center d-none" width="60" height="60" />
        </div>
    </div>
    <div class="card-form row pr-1 pb-0 mb-0">
        <div class="form-inline mb-0">
           <h4>مبلغ کل فروش:<span>@ViewBag.Price</span></h4>
        </div>
    </div>
</div>

<div id="card-table" class="card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed">
            <thead class="thead-light">
                <tr>
                    <th scope="col">کد سفارش</th>
                    <th scope="col">نام مشتری</th>
                    <th scope="col">نام خدمات </th>
                    <th scope="col">زمان ثبت </th>
                    <th scope="col">زمان مراجعه </th>
                    <th>وضعیت پرداخت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td>یافت نشد</td>
                    </tr>
                }

                @foreach (var item in Model)
                {

                    <tr>
                        <td>#@item.Id</td>
                        <td>@item.User.Name</td>
                        <td>@item.Store.Name (@item.Store.User.TellNo)</td>
                        <td>@item.DateSubminted.AllToShamsi()</td>
                        <td>@item.Date.AllToShamsi()</td>

                        @if (item.IsFinaly == true)
                        {
                            <td class="text-success">
                                پرداخت شده
                            </td>
                        }
                        else
                        {
                            <td class="text-warning">
                                در انتظار پرداخت
                            </td>
                        }
                        <td>
                            @*             <span data-placement="top" data-toggle="tooltip" title="" data-original-title="لغو سفارش">
                                <a onclick="Cancel(@item.Id)" data-toggle="modal" data-target="#modalSave" class="text-danger" uk-icon="close-circle-outline"></a>
                                </span>*@
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="جزئیات سفارش">
                                <a onclick="Info(@item.Id)" data-toggle="modal" data-target="#modalSave" class="text-primary" uk-icon="information-circle-outline"></a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card-footer bg-white">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">

            <li class="page-item">
                <select id="pageNumber" class="custom-select custom-select-sm">
                    @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
                    {
                        if ((int)ViewBag.pageId == i)
                        {
                            <option selected class="page-item" value="@i">صفحه @i از @((int)ViewBag.PageCount + 1)</option>
                        }
                        else
                        {
                            <option class="page-item" value="@i">صفحه @i از @((int)ViewBag.PageCount + 1)</option>
                        }
                    }
                </select>
            </li>


            <li>
                <select id="InPageCount" class="custom-select custom-select-sm">
                    @if (ViewBag.InPageCount == 0)
                    {
                        <option value="0" selected>10 در هر صفحه</option>
                        <option value="20">20 در هر صفحه</option>
                        <option value="30">30 در هر صفحه</option>
                        <option value="40">40 در هر صفحه</option>

                    }

                    @if (ViewBag.InPageCount == 20)
                    {
                        <option value="0">10 در هر صفحه</option>
                        <option value="20" selected>20 در هر صفحه</option>
                        <option value="30">30 در هر صفحه</option>
                        <option value="40">40 در هر صفحه</option>

                    }
                    else if (ViewBag.InPageCount == 30)
                    {
                        <option value="0">10 در هر صفحه</option>
                        <option value="20">20 در هر صفحه</option>
                        <option value="30" selected>30 در هر صفحه</option>
                        <option value="40">40 در هر صفحه</option>

                    }
                    else if (ViewBag.InPageCount == 40)
                    {
                        <option value="0">10 در هر صفحه</option>
                        <option value="20">20 در هر صفحه</option>
                        <option value="30">30 در هر صفحه</option>
                        <option value="40" selected>40 در هر صفحه</option>
                    }

                </select>
            </li>
        </ul>
    </nav>
</div>


<script src="~/Command/AdminQueue.js"></script>
