@model DataLayer.Models.TblProduct

<button class="uk-modal-close-default" type="button" uk-close></button>
<form id="EditProduct" class="my-column createAccount uk-padding-small" method="post" dir="rtl">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="uk-modal-header uk-margin-bottom">
        <h3 class="uk-modal-title uk-text-center">ویرایش محصول</h3>
    </div>
    <div class="uk-modal-body my-column uk-padding-small">
        <div class="uk-margin">
            <select class="uk-select" asp-for="StoreCatagoryId">
                <option value="0">انتخاب دسته بندی</option>
                @foreach (var item in ViewBag.Category)
                {
                    @if (item.Id == Model.StoreCatagoryId)
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <span asp-validation-for="StoreCatagoryId"></span>
        <label for="Name">نام محصول:</label>
        <input asp-for="Name">
        <span asp-validation-for="Name" class="uk-text-danger"></span>
        <label for="Count">موجودی نزد شما:</label>
        <input asp-for="Count" />
        <span asp-validation-for="Count" class="uk-text-danger"></span>
        <label for="price">قیمت(تومان):</label>
        <input type="text" asp-for="Price">
        <span asp-validation-for="Price" class="uk-text-danger"></span>
        <label for="off">درصد تخفیف:</label>
        <input asp-for="Discount">
        <span asp-validation-for="Discount" class="uk-text-danger"></span>
        <div class="uk-margin">
            <div class="my-row" uk-form-custom>
                <input asp-for="MainImageUrl" type="hidden" />
                <input type="file" id="ProductImage">
                <button class="uk-margin-top serviceArea">ویرایش تصویر محصول<span class="icon-holder uk-margin-small-left uk-margin-small-right" uk-icon="attach"></span></button>
            </div>
        </div>
    </div>
    <div class="uk-modal-footer uk-text-center uk-margin-top">
        <span id="ProductSubmitErorr" class="uk-text-danger"></span>
        <input class="center gradientButton" type="submit" value="ویرایش">
    </div>
</form>

<script src="~/Jquery/jquery-3.4.1.js"></script>
<script src="~/ScriptCenter/Tools/Auto_Formatting_Currency.js"></script>

<script>
    $("#EditProduct").submit(function (e) {
        e.preventDefault();
        if ($("#ProductImage").val() == null || $("#ProductImage").val() == "") {
            var data = $(this).serializeArray();
            $.post("/Store/EditProduct",data, function (result) {
                if ($.isNumeric(result)) {
                    window.location.reload();
                } else {
                    $("#ProductSubmitErorr").html(result);
                }
            });
        }
        else {
            var data = $(this).serializeArray();
            $.post("/Store/EditProduct", data, function (result) {
                if ($.isNumeric(result)) {

                    var fileUpload = $("#ProductImage").get(0);
                    var files = fileUpload.files;
                    var data = new FormData();
                    data.append("file", files[0]);

                    $.ajax({
                        type: "POST",
                        url: "/Store/editProductImage?ProductId=" + result,
                        contentType: false,
                        processData: false,
                        data: data,
                        async: false,
                        beforeSend: function () {
                        },
                        success: function (message) {
                            if (message == "true") {
                                window.location.reload();
                            } else {
                                $("#ProductSubmitErorr").html(message);
                            }
                        },

                    });

                } else {
                    $("#ProductSubmitErorr").html(result);
                }
            });
        }
    });
</script>